html,
body {
	height: 100%;
}

body {
	color: $default;
	font-size: 16px;
	line-height: 26px;
	@extend %quicksand-500;
	display: flex;
	flex-direction: column;
}

.main {
	flex-grow: 1;
}
.container {
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 15px;
}
a {
	color: $default;
	font-size: 16px;
	line-height: 26px;
	@extend %quicksand-500;
}

.btn {
	border: none;
	background-color: $accent;
	color: #fff;
	text-transform: uppercase;
	padding: 14px 25px;
	border-radius: 5px;
	box-shadow: 0px 0px 20px 0px rgba(255, 17, 48, 0.3);
}

.title {
	font-size: 48px;
	line-height: 65px;
	color: $title;
	@extend %roboto-700;
	text-align: center;
	margin-bottom: 10px;
}
.text {
	text-align: center;
	max-width: 570px;
	margin: 0 auto 55px;
}

.bredcrumbs {
	display: inline-flex;
	justify-content: center;
	align-items: center;
	position: relative;
	padding-left: 25px;
	&::before {
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		width: 20px;
		height: 20px;
		background: url(../images/top/home_icon.svg) center center / cover no-repeat;
	}
	&__item {
		color: #727272;
		padding-right: 40px;
		position: relative;
		&::after {
			content: "";
			position: absolute;
			top: 7px;
			right: 15px;
			width: 9px;
			height: 10px;
			background: url(../images/top/angle_right.svg);
		}
		&:last-child {
			color: $accent;
			padding-right: 0;
			&::after {
				display: none;
			}
		}
	}

	&__list {
		display: flex;
	}
	&__link {
		color: inherit;
		padding: 2px 0;
	}
}
