.goods {
	padding: 120px 0 60px 0;
}

.goods-item {
	border-bottom: 2px solid $gray;
	// .goods-item__inner

	&__inner {
		display: flex;
		justify-content: space-between;
	}

	// .goods-item__slide

	&__slide {
		width: 730px;
		margin-right: 70px;
	}

	// .goods-item__content

	&__content {
		width: 370px;
	}

	// .goods-item__title

	&__title {
		@extend %roboto-700;
		font-size: 22px;
		line-height: 34px;
		color: $title;
		margin-bottom: 18px;
	}

	// .goods-item__box

	&__box {
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin-bottom: 40px;
	}

	// .goods-item__price

	&__price {
		display: flex;
		font-size: 18px;
		line-height: 34px;
	}

	// .goods-item__price--new

	&__price--new {
		color: $title;
		margin-right: 15px;
	}

	// .goods-item__price--old

	&__price--old {
		color: #ccccce;
		text-decoration: line-through;
	}

	// .goods-item__star

	&__star {
		display: flex;
		align-items: center;
		span {
			font-size: 18px;
			color: $title;
			padding-left: 8px;
		}
		.star {
			margin: 0;
		}
	}

	// .goods-item__text

	&__text {
		width: 355px;
		text-align: justify;
		color: $default;
		margin-bottom: 40px;
		span {
			display: block;
			@extend %roboto-700;
			font-size: 18px;
			color: $title;
			padding-bottom: 15px;
		}
	}

	// .goods-item__form

	&__form {
	}

	// .goods-item__color

	&__color {
	}

	// .goods-item__info

	&__info {
	}

	// .goods-item__number

	&__num {
	}

	// .goods-item__btn

	&__btn {
		@extend %btn;
		margin-left: 15px;
	}
}
.goods-slide {
	display: flex;
	// .goods-slide__thumb

	&__thumb {
		width: 140px;
		margin-right: 30px;
	}

	// .goods-slide__thumb-item

	&__thumb-item {
		width: 140px;
		height: 140px;
		margin-bottom: 30px;
		cursor: pointer;
	}

	// .goods-slide__thumb-img

	&__thumb-img {
		width: 140px;
		height: 140px;
		object-fit: cover;
	}

	// .goods-slide__big

	&__big {
		width: 560px;
	}

	// .goods-slide__big-item

	&__big-item {
		width: 560px;
		height: 650px;
	}

	// .goods-slide__big-img

	&__big-img {
		width: 560px;
		height: auto;
		object-fit: cover;
	}
}

.goods-filter {
	// .goods-filter__color-title

	&__color-title {
	}

	// .goods-filter__color-input

	&__color-input {
	}

	// .goods-filter__checkbox

	&__checkbox {
	}

	// .goods-filter__size

	&__size {
	}

	// .goods-filter__size-title

	&__size-title {
	}

	// .goods-filter__size-input

	&__size-input {
	}
}

.goods-info {
	margin-bottom: 40px;
	// .poduct-info__list
	&__list {
		padding-top: 40px;
	}

	// .goods-info__item

	&__item {
		display: flex;
	}

	// .goods-info__title

	&__title {
		min-width: 100px;
		color: $title;
		line-height: 28px;
		margin-right: 20px;
	}

	// .goods-info__text

	&__text {
	}
	&__link {
		margin-right: 15px;
	}
}

//  стили для

.jq-number {
	padding: 0;
}

.jq-number__field {
	width: 114px;
	border: 1px solid #f0f0f0;
	border-radius: 0;
	box-shadow: none;
}

.jq-number__field input {
	width: 100%;
	height: 54px;
	padding: 0;
	border: none;
	outline: none;
	background: none;
	@extend %quicksand-500;
	text-align: center;
	font-size: 16px;
	color: $title;
}

.jq-number__spin {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	right: 15px;
	width: 32px;
	height: 14px;
	border: none;
	background: transparent;
	box-shadow: none;
	text-shadow: none;
	outline: none;
	cursor: pointer;
}

.jq-number__spin.minus {
	top: 28px;
	left: 0;
	width: 45px;
	height: 50px;
	&:hover {
		background: transparent;
	}
}
.jq-number__spin.plus {
	top: 28px;
	right: 0;
	width: 45px;
	height: 50px;
	&:hover {
		background: transparent;
	}
}

.jq-number__spin.minus:after {
	content: "";
	position: absolute;
	border: none;
	top: 25px;
	left: 15px;
	width: 12px;
	height: 2px;
	background-color: $title;
}
.jq-number__spin.plus:after {
	content: "";
	position: absolute;
	border: none;
	top: 25px;
	left: 15px;
	width: 12px;
	height: 2px;
	background-color: $title;
}

.jq-number__spin.plus::before {
	content: "";
	position: absolute;
	border: none;
	top: 20px;
	left: 20px;
	width: 2px;
	height: 12px;
	background-color: $title;
}

.jq-number__spin:active {
	border: none;
	background: transparent;
	box-shadow: none;
}

// ========================
.goods-tabs {
}
.goods-reviews {
}
