.partners {
	padding-top: 75px;
	margin-bottom: 110px;

	// .partners__list
	&__list {
		height: 170px;
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	// .partners__item

	&__item {
	}
}

.icon-promo-01 {
	width: 60px;
	height: 60px;
}
.icon-promo-02 {
	width: 60px;
	height: 60px;
}
.icon-promo-03 {
	width: 60px;
	height: 60px;
}
.icon-promo-04 {
	width: 60px;
	height: 60px;
}
.icon-promo-05 {
	width: 60px;
	height: 60px;
}
.icon-promo-06 {
	width: 60px;
	height: 60px;
}
