.video-fashon {
	background: url("../images/popup-video/popup_bg.svg");
	background-color: $bg;
	background-size: cover;
	background-position: top center;
	background-repeat: no-repeat;
	padding: 125px 0;
	// .video-fashon__inner

	&__inner {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	// __popup
	&__popup {
		position: relative;
		max-width: 530px;
		width: 100%;
		height: 480px;
		margin-right: 70px;
		display: flex;
		justify-content: center;
		align-items: center;
		background-repeat: no-repeat;
		background-position: center center;
		&:before {
			content: "";
			position: absolute;
			width: 120px;
			height: 120px;
			background: $accent;
			opacity: 0.5;
			position: absolute;
			border-radius: 50%;
			left: 204px;
			top: 176px;
			animation: pulse 0.5s ease-in-out 0.5s infinite;
		}
	}
	&__play {
		z-index: 1;
	}

	// .video-fashon__content

	&__content {
		max-width: 570px;
	}

	// .video-fashon__subtitle

	&__subtitle {
		@extend %quicksand-500;
		color: $accent;
		font-size: 22px;
		text-transform: uppercase;
	}

	// .video-fashon__title

	&__title {
		text-align: left;
		margin-bottom: 23px;
	}

	// .video-fashon__text

	&__text {
		line-height: 26px;
		margin-bottom: 43px;
	}

	// .video-fashon__link
}

.icon-playvideo {
	width: 120px;
	height: 120px;
}
