.top {
	&-container {
		max-width: 1730px;
		margin: 0 auto;
		padding: 120px 15px 130px;
		background-image: url(../images/top/top_bg.png);
		background-repeat: no-repeat;
		background-size: cover;
		background-position: top center;
		text-align: center;
	}
	&__title {
		@extend %roboto-400;
		color: #15181d;
		font-size: 48px;
		line-height: 58px;
		text-transform: uppercase;
		margin-bottom: 15px;
	}
}
