<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Магазин</title>

    <link rel="stylesheet" href="css/index.min.css">
</head>

<body>

    {% include 'app/module/_header/_header.html' %}


    <main class="main">
        <section class="top-slider ">
            <div class="container top-slider__container">
                <div class="top-slider__inner">
                    <div class="top-slider__item">
                        <div class="top-slider__content ">
                            <h3 class="top-slider__title">New Season <br>
                                New Brand Collection</h3>
                            <p class="top-slider__text">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                                et dolore magna aliqua. Ipsum.
                            </p>
                            <a class="top-slider__link" href="#">BUY NOW</a>
                        </div>
                        <img src="./images/top-slider/foto-01.png" alt="фото слайда" class="top-slider__img">
                    </div>
                    <!-- /.top-slider__item -->
                    <div class="top-slider__item">
                        <div class="top-slider__content">
                            <h3 class="top-slider__title">New Season <br>
                                New !!!</h3>
                            <p class="top-slider__text">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                                et dolore magna aliqua. Ipsum.
                            </p>
                            <a class="top-slider__link" href="#">BUY NOW</a>
                        </div>
                        <img src="https://effects1.ru/gallery/Klipart/Fauna/Lyudi/devushka/devushka-34-0.png"
                            alt="фото слайда" class="top-slider__img">

                    </div>
                    <!-- /.top-slider__item -->
                    <div class="top-slider__item">
                        <div class="top-slider__content">
                            <h3 class="top-slider__title">New Season <br>
                                New Brand Summer</h3>
                            <p class="top-slider__text">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                                et dolore magna aliqua. Ipsum.
                            </p>
                            <a class="top-slider__link" href="#">BUY NOW</a>
                        </div>
                        <img src="./images/top-slider/foto-03-.png" alt="фото слайда" class="top-slider__img">

                    </div>
                    <!-- /.top-slider__item -->
                    <div class="top-slider__item">
                        <div class="top-slider__content">
                            <h3 class="top-slider__title">New Season <br>
                                New Collection</h3>
                            <p class="top-slider__text">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                                et dolore magna aliqua. Ipsum.
                            </p>
                            <a class="top-slider__link" href="#">BUY NOW</a>
                        </div>
                        <img src="./images/top-slider/foto-04.png" alt="фото слайда" class="top-slider__img">
                    </div>
                    <!-- /.top-slider__item -->
                </div>
            </div>
        </section>
        <!-- /. slider -->
        <section class="categories-info">
            <div class="categories-info__inner">
                <div class="container">
                    <div class="info">
                        <div class="info__item">
                            <svg class="icon icon-info">
                                <use href="images/icons/icons.svg#info_shipping"></use>
                            </svg>
                            <h5 class="info__item-title">Free Shipping Order $100</h5>
                            <p class="info__item-text">Lorem ipsum dolor sit amet, consectet adipiscing elit, sed do</p>
                        </div>
                        <div class="info__item">
                            <svg class="icon icon-info">
                                <use href="images/icons/icons.svg#info_daysreturn"></use>
                            </svg>
                            <h5 class="info__item-title">30 Days Easy Return</h5>
                            <p class="info__item-text">Lorem ipsum dolor sit amet, consectet adipiscing elit, sed do</p>
                        </div>
                        <div class="info__item">
                            <svg class="icon icon-info">
                                <use href="images/icons/icons.svg#info_support"></use>
                            </svg>
                            <h5 class="info__item-title">24/7 Customer Support</h5>
                            <p class="info__item-text">Lorem ipsum dolor sit amet, consectet adipiscing elit, sed do</p>
                        </div>
                    </div>
                    <section class="categories">
                        <h2 class="title">TOP CATEGORIES</h2>
                        <div class="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmo tempor
                            ut
                            labore et dolore aliqua.</div>
                        <div class="categories__items">
                            <div class="categories__item" style="background-image: url('images/categories/01.png');">
                                <span class="categories__item-subtitle">Up To 40% Off</span>
                                <h4 class="categories__item-title">Shoes & Jewellry</h4>
                                <a class="categories__link" href="#">EXPLORE MORE</a>
                            </div>
                            <!-- 01 -->
                            <div class="categories__item" style="background-image: url('images/categories/02.png');">
                                <span class="categories__item-subtitle">New Arrival</span>
                                <h4 class="categories__item-title">Clothes & Accessories</h4>
                                <a class="categories__link" href="#">EXPLORE MORE</a>
                            </div>
                            <!-- 02 -->
                            <div class="categories__item" style="background-image: url('images/categories/03.png');">
                                <span class="categories__item-subtitle">Trending Now</span>
                                <h4 class="categories__item-title">Men’s Fashion</h4>
                                <a class="categories__link" href="#">EXPLORE MORE</a>
                            </div>
                            <!-- 03 -->
                            <div class="categories__item" style="background-image: url('images/categories/04.png');">
                                <span class="categories__item-subtitle">Hot Collection</span>
                                <h4 class="categories__item-title">Girl’s Fashion</h4>
                                <a class="categories__link" href="#">EXPLORE MORE</a>
                            </div>
                        </div>
                    </section>
                    <!-- /.categories -->
                </div>
                <!-- /. container -->
            </div>
        </section>
        <!-- /.categories -->

        <section class="video-fashon">

            <div class="container">
                <div class="video-fashon__inner">
                    <div class="video-fashon__popup"
                        style="background-image: url('images/popup-video/video_preview.png');">
                        <a class="video-fashon__play" data-fancybox href="https://www.youtube.com/watch?v=BqPlkWUOPB0">
                            <svg class="icon icon-playvideo">
                                <use href="images/icons/icons.svg#play_btn"></use>
                            </svg>
                        </a>
                    </div>
                    <!-- /.fashion-inner -->
                    <div class="video-fashon__content">
                        <span class="video-fashon__subtitle">WINTER COLLECTION 20% OFF</span>
                        <h3 class="title video-fashon__title">TRENDING FASHION</h3>
                        <p class="video-fashon__text">Lorem ipsum dolor sit amet, consectetur apiscing elit, sed do
                            eiusmod
                            temp incididunt ut labore et dolore magna aliqua
                            consectetur adipiscing elit, sedu do eiusmod temp indidunt ut labore et dolore magna
                            aliqua..
                            Quis ipsum de ultcesm.
                            Risus commodo viverra maecenas.</p>
                        <a class="btn video-fashon__link" data-fancybox
                            href="https://www.youtube.com/watch?v=BqPlkWUOPB0">VIEW NOW</a>

                    </div>
                    <!-- /.video-fashon__content -->
                </div>
            </div>

        </section>
        <!-- /.video-fashon -->

        <section class="product">
            <div class="container">
                <div class="product-top">
                    <h3 class="title product-top__title">TRENDING FASHION</h3>
                    <p class="product-top__text">Lorem ipsum dolor sit amet, consectetur apiscing elit, sed do
                        eiusmod
                        temp incididunt ut labore et dolore magna aliqua
                        consectetur adipiscing elit, .</p>
                </div>
                <!-- product-top -->
                <div class="product-items">
                    <!-- карточка 01-->
                    <div class="product-item ">
                        <div class="product-item__img-box">
                            <img class="product-item__images" src="images/product/product-01.png" alt="фото товара">
                            <div class="product-item__link-box">
                                <a class="product-item__link" href="#">
                                    <svg class="icon icon-search">
                                        <use href="images/icons/icons.svg#search"></use>
                                    </svg>
                                </a>
                                <a class="product-item__link product-item__link-line" href="#">
                                    <svg class="icon icon-search">
                                        <use href="images/icons/icons.svg#bag"></use>
                                    </svg>
                                </a>
                                <a class="product-item__link" href="#">
                                    <svg class="icon icon-search">
                                        <use href="images/icons/icons.svg#heart"></use>
                                    </svg>
                                </a>
                            </div>
                            <!-- /.всплывающее меню product-item__link-box -->
                        </div>
                        <div class="product-item__wrapper-box">
                            <div class="product-item__box">
                                <div class="star" data-rateyo-rating='4.5'></div>
                                <!-- /.star звездный рейтинг -->
                                <h4 class="product-item__title">White Polo Men’s T-Shirt</h4>
                                <div class="product-item__price">
                                    <div class="product-item__new-price">$ 34.00 </div>
                                    <div class="product-item__old-price">$ 27.00 </div>
                                </div>
                            </div>
                            <!-- product-item__box -->
                            <div class="product-item__content-box">
                                <p class="product-item__text">
                                    Lorem ipsum dolor sit amet, adipiscing elit, sed de eusmod utlitoi labore et
                                    dolore magna aliqua.
                                </p>
                                <button class="product-item__btn ">
                                    Add to cart
                                </button>
                            </div>
                            <!-- /.product-item__content -->
                        </div>
                        <!-- /.product-item__wrapper-box -->
                        <!-- /.product-item__price -->
                    </div>
                    <!-- конец карточки -->
                    <!-- карточка 02-->
                    <div class="product-item product-item__sale">
                        <div class="product-item__img-box">
                            <img class="product-item__images" src="images/product/product-02.png" alt="фото товара">
                            <div class="product-item__link-box">
                                <a class="product-item__link" href="#">
                                    <svg class="icon icon-search">
                                        <use href="images/icons/icons.svg#search"></use>
                                    </svg>
                                </a>
                                <a class="product-item__link product-item__link-line" href="#">
                                    <svg class="icon icon-search">
                                        <use href="images/icons/icons.svg#bag"></use>
                                    </svg>
                                </a>
                                <a class="product-item__link" href="#">
                                    <svg class="icon icon-search">
                                        <use href="images/icons/icons.svg#heart"></use>
                                    </svg>
                                </a>
                            </div>
                            <!-- /.всплывающее меню product-item__link-box -->
                        </div>

                        <div class="product-item__wrapper-box">
                            <div class="product-item__box">
                                <div class="star" data-rateyo-rating='2.5'></div>
                                <!-- /.star звездный рейтинг -->
                                <h4 class="product-item__title">White Polo Men’s T-Shirt</h4>
                                <div class="product-item__price">
                                    <div class="product-item__new-price">$ 34.00 </div>
                                    <div class="product-item__old-price">$ 27.00 </div>
                                </div>
                            </div>
                            <!-- product-item__box -->
                            <div class="product-item__content-box">
                                <p class="product-item__text">
                                    Lorem ipsum dolor sit amet, adipiscing elit, sed de eusmod utlitoi labore et
                                    dolore magna aliqua.
                                </p>
                                <button class="product-item__btn ">
                                    Add to cart
                                </button>
                            </div>
                            <!-- /.product-item__content -->
                        </div>
                        <!-- /.product-item__wrapper-box -->
                        <!-- /.product-item__price -->
                    </div>
                    <!-- конец карточки -->
                    <!-- карточка 03-->
                    <div class="product-item">
                        <div class="product-item__img-box">
                            <img class="product-item__images" src="images/product/product-03.png" alt="фото товара">
                            <div class="product-item__link-box">
                                <a class="product-item__link" href="#">
                                    <svg class="icon icon-search">
                                        <use href="images/icons/icons.svg#search"></use>
                                    </svg>
                                </a>
                                <a class="product-item__link product-item__link-line" href="#">
                                    <svg class="icon icon-search">
                                        <use href="images/icons/icons.svg#bag"></use>
                                    </svg>
                                </a>
                                <a class="product-item__link" href="#">
                                    <svg class="icon icon-search">
                                        <use href="images/icons/icons.svg#heart"></use>
                                    </svg>
                                </a>
                            </div>
                            <!-- /.всплывающее меню product-item__link-box -->
                        </div>

                        <div class="product-item__wrapper-box">
                            <div class="product-item__box">
                                <div class="star" data-rateyo-rating='3'></div>
                                <!-- /.star звездный рейтинг -->
                                <h4 class="product-item__title">White Polo Men’s T-Shirt</h4>
                                <div class="product-item__price">
                                    <div class="product-item__new-price">$ 34.00 </div>
                                    <div class="product-item__old-price">$ 27.00 </div>
                                </div>
                            </div>
                            <!-- product-item__box -->
                            <div class="product-item__content-box">
                                <p class="product-item__text">
                                    Lorem ipsum dolor sit amet, adipiscing elit, sed de eusmod utlitoi labore et
                                    dolore magna aliqua.
                                </p>
                                <button class="product-item__btn ">
                                    Add to cart
                                </button>
                            </div>
                            <!-- /.product-item__content -->
                        </div>
                        <!-- /.product-item__wrapper-box -->
                        <!-- /.product-item__price -->
                    </div>
                    <!-- конец карточки -->
                    <!-- карточка 04-->
                    <div class="product-item product-item__sale">
                        <div class="product-item__img-box">
                            <img class="product-item__images" src="images/product/product-04.png" alt="фото товара">
                            <div class="product-item__link-box">
                                <a class="product-item__link" href="#">
                                    <svg class="icon icon-search">
                                        <use href="images/icons/icons.svg#search"></use>
                                    </svg>
                                </a>
                                <a class="product-item__link product-item__link-line" href="#">
                                    <svg class="icon icon-search">
                                        <use href="images/icons/icons.svg#bag"></use>
                                    </svg>
                                </a>
                                <a class="product-item__link" href="#">
                                    <svg class="icon icon-search">
                                        <use href="images/icons/icons.svg#heart"></use>
                                    </svg>
                                </a>
                            </div>
                            <!-- /.всплывающее меню product-item__link-box -->
                        </div>

                        <div class="product-item__wrapper-box">
                            <div class="product-item__box">
                                <div class="star" data-rateyo-rating='3.2'></div>
                                <!-- /.star звездный рейтинг -->
                                <h4 class="product-item__title">White Polo Men’s T-Shirt</h4>
                                <div class="product-item__price">
                                    <div class="product-item__new-price">$ 34.00 </div>
                                    <div class="product-item__old-price">$ 27.00 </div>
                                </div>
                            </div>
                            <!-- product-item__box -->
                            <div class="product-item__content-box">
                                <p class="product-item__text">
                                    Lorem ipsum dolor sit amet, adipiscing elit, sed de eusmod utlitoi labore et
                                    dolore magna aliqua.
                                </p>
                                <button class="product-item__btn ">
                                    Add to cart
                                </button>
                            </div>
                            <!-- /.product-item__content -->
                        </div>
                        <!-- /.product-item__wrapper-box -->
                        <!-- /.product-item__price -->
                    </div>
                    <!-- конец карточки -->
                    <!-- карточка 05-->
                    <div class="product-item ">
                        <div class="product-item__img-box">
                            <img class="product-item__images" src="images/product/product-05.png" alt="фото товара">
                            <div class="product-item__link-box">
                                <a class="product-item__link" href="#">
                                    <svg class="icon icon-search">
                                        <use href="images/icons/icons.svg#search"></use>
                                    </svg>
                                </a>
                                <a class="product-item__link product-item__link-line" href="#">
                                    <svg class="icon icon-search">
                                        <use href="images/icons/icons.svg#bag"></use>
                                    </svg>
                                </a>
                                <a class="product-item__link" href="#">
                                    <svg class="icon icon-search">
                                        <use href="images/icons/icons.svg#heart"></use>
                                    </svg>
                                </a>
                            </div>
                            <!-- /.всплывающее меню product-item__link-box -->
                        </div>
                        <div class="product-item__wrapper-box">
                            <div class="product-item__box">
                                <div class="star" data-rateyo-rating='5'></div>
                                <!-- /.star звездный рейтинг -->
                                <h4 class="product-item__title">White Polo Men’s T-Shirt</h4>
                                <div class="product-item__price">
                                    <div class="product-item__new-price">$ 34.00 </div>
                                    <div class="product-item__old-price">$ 27.00 </div>
                                </div>
                            </div>
                            <!-- product-item__box -->
                            <div class="product-item__content-box">
                                <p class="product-item__text">
                                    Lorem ipsum dolor sit amet, adipiscing elit, sed de eusmod utlitoi labore et
                                    dolore magna aliqua.
                                </p>
                                <button class="product-item__btn ">
                                    Add to cart
                                </button>
                            </div>
                            <!-- /.product-item__content -->
                        </div>
                        <!-- /.product-item__wrapper-box -->
                        <!-- /.product-item__price -->
                    </div>
                    <!-- конец карточки -->
                    <!-- карточка 06-->
                    <div class="product-item product-item__sale">
                        <div class="product-item__img-box">
                            <img class="product-item__images" src="images/product/product-06.png" alt="фото товара">
                            <div class="product-item__link-box">
                                <a class="product-item__link" href="#">
                                    <svg class="icon icon-search">
                                        <use href="images/icons/icons.svg#search"></use>
                                    </svg>
                                </a>
                                <a class="product-item__link product-item__link-line" href="#">
                                    <svg class="icon icon-search">
                                        <use href="images/icons/icons.svg#bag"></use>
                                    </svg>
                                </a>
                                <a class="product-item__link" href="#">
                                    <svg class="icon icon-search">
                                        <use href="images/icons/icons.svg#heart"></use>
                                    </svg>
                                </a>
                            </div>
                            <!-- /.всплывающее меню product-item__link-box -->
                        </div>

                        <div class="product-item__wrapper-box">
                            <div class="product-item__box">
                                <div class="star" data-rateyo-rating='1.5'></div>
                                <!-- /.star звездный рейтинг -->
                                <h4 class="product-item__title">White Polo Men’s T-Shirt</h4>
                                <div class="product-item__price">
                                    <div class="product-item__new-price">$ 34.00 </div>
                                    <div class="product-item__old-price">$ 27.00 </div>
                                </div>
                            </div>
                            <!-- product-item__box -->
                            <div class="product-item__content-box">
                                <p class="product-item__text">
                                    Lorem ipsum dolor sit amet, adipiscing elit, sed de eusmod utlitoi labore et
                                    dolore magna aliqua.
                                </p>
                                <button class="product-item__btn ">
                                    Add to cart
                                </button>
                            </div>
                            <!-- /.product-item__content -->
                        </div>
                        <!-- /.product-item__wrapper-box -->
                        <!-- /.product-item__price -->
                    </div>
                    <!-- конец карточки -->
                </div>
                <!-- product-down кнопка MORE -->
                <!-- product-items -->
            </div>
            <div class="product-down">
                <a class="product-down__link" data-fancybox href="https://www.youtube.com/watch?v=BqPlkWUOPB0">LOAD
                    MORE</a>
            </div>
        </section>
        <!-- /.product -->
        <div class="promo">
            <div class="container">
                <div class="promo__inner">
                    <span class="promo__sutitle">STYLE FASHION</span>
                    <h3 class="title promo__title">DEAL OF THE DAY</h3>

                    <!-- таймер -->
                    <div class="promo__clock" data-time="2021-12-31">
                        <div class="promo__clock-item">
                            <span class="promo__days"></span>
                            <div class="promo__text">Days</div>
                        </div>

                        <div class="promo__clock-item">
                            <span class="promo__hours"></span>
                            <div class="promo__text">Hours</div>
                        </div>
                        <div class="promo__clock-item">
                            <span class="promo__minutes"></span>
                            <div class="promo__text">Minutes</div>
                        </div>
                        <div class="promo__clock-item">
                            <span class="promo__seconds"></span>
                            <div class="promo__text">Seconds</div>
                        </div>

                    </div>
                    <a class="promo__link" href="#">SHOP NOW</a>
                </div>
            </div>
        </div>
        <!-- promo -->
        <div class="partners">
            <div class="container">
                <ul class="partners__list">
                    <li class="partners__item"> <svg class=" icon-promo-01">
                            <use href="images/icons/icons.svg#promo-01"></use>
                        </svg>
                    </li>
                    <li class="partners__item"> <svg class=" icon-promo-02">
                            <use href="images/icons/icons.svg#promo-02"></use>
                        </svg>
                    </li>
                    <li class="partners__item"> <svg class=" icon-promo-03">
                            <use href="images/icons/icons.svg#promo-03"></use>
                        </svg></li>
                    <li class="partners__item"> <svg class=" icon-promo-04">
                            <use href="images/icons/icons.svg#promo-04"></use>
                        </svg>
                    </li>
                    <li class="partners__item">
                        <img class=" icon-promo-05" src="images/promo/promo-05.png" alt="promo">
                    </li>
                    <li class="partners__item"> <svg class="icon-promo-06">
                            <use href="images/icons/icons.svg#promo-06"></use>
                        </svg>
                    </li>
                </ul>
            </div>
        </div>
        <!-- partners -->

        <section class="blog">
            <div class="container">
                <h3 class="blog__title">FROM OUR BLOG</h3>
                <p class="blog__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmodmoe tempor
                    incididunt ut labore et dolore aliqua.</p>
                <div class="blog__items">
                    <div class="blog__item">
                        <a class="blog__item-imglink" href="#">
                            <img class="blog__img" src="images/blog/blog-01.png" alt="blog foto">
                        </a>
                        <div class="blog__itembox">
                            <div class="blog__item-info">
                                <a class="blog__item-autor" href="#">
                                    <svg class="icon icon-user">
                                        <use href="images/icons/icons.svg#user"></use>
                                    </svg>By Admin
                                </a>
                                <div class="blog__item-date">
                                    <svg class="icon icon-clock">
                                        <use href="images/icons/icons.svg#clock"></use>
                                    </svg>10 January, 2020
                                </div>
                            </div>
                            <!-- /.blog__item-info -->
                            <a class="blog__item-titlelink" href="#">
                                <h4 class="blog__item-title">Our Apps User Use Mobile On His Mobile
                                </h4>
                            </a>

                            <a class="blog__title-link" href="#">
                                Read More
                                <svg class="icon icon-arrow">
                                    <use href="images/icons/icons.svg#arrow"></use>
                                </svg>
                            </a>
                        </div>
                    </div>




                    <!-- /.blog__item -->
                    <div class="blog__item">
                        <a class="blog__item-imglink" href="#">
                            <img class="blog__img" src="images/blog/blog-02.png" alt="blog foto">
                        </a>
                        <div class="blog__itembox">
                            <div class="blog__item-info">
                                <a class="blog__item-autor" href="#">
                                    <svg class="icon icon-user">
                                        <use href="images/icons/icons.svg#user"></use>
                                    </svg>By Admin
                                </a>
                                <div class="blog__item-date">
                                    <svg class="icon icon-clock">
                                        <use href="images/icons/icons.svg#clock"></use>
                                    </svg>10 January, 2020
                                </div>
                            </div>
                            <!-- /.blog__item-info -->
                            <a class="blog__item-titlelink" href="#">
                                <h4 class="blog__item-title">Our Apps User Use Mobile On His Mobile
                                </h4>
                            </a>
                            <a class="blog__title-link" href="#">
                                Read More
                                <svg class="icon icon-arrow">
                                    <use href="images/icons/icons.svg#arrow"></use>
                                </svg>
                            </a>
                        </div>
                    </div>


                    <!-- /.blog__item -->
                    <div class="blog__item">
                        <a class="blog__item-imglink" href="#">
                            <img class="blog__img" src="images/blog/blog-03.png" alt="blog foto">
                        </a>
                        <div class="blog__itembox">
                            <div class="blog__item-info">
                                <a class="blog__item-autor" href="#">
                                    <svg class="icon icon-user">
                                        <use href="images/icons/icons.svg#user"></use>
                                    </svg>By Admin
                                </a>
                                <div class="blog__item-date">
                                    <svg class="icon icon-clock">
                                        <use href="images/icons/icons.svg#clock"></use>
                                    </svg>10 January, 2020
                                </div>
                            </div>
                            <!-- /.blog__item-info -->
                            <a class="blog__item-titlelink" href="#">
                                <h4 class="blog__item-title">Our Apps User Use Mobile On His Mobile
                                </h4>
                            </a>
                            <a class="blog__title-link" href="#">
                                Read More
                                <svg class="icon icon-arrow">
                                    <use href="images/icons/icons.svg#arrow"></use>
                                </svg>
                            </a>
                        </div>
                    </div>
                    <!-- /.blog__item -->
                </div>
            </div>
        </section>
        <!-- /.blog -->
    </main>
    <!-- /.main -->



    {% include 'app/module/_footer/_footer.html' %}


    <script src="js/main.min.js"></script>
</body>

</html>



<!-- svg -->

<!-- <svg class="icon icon-user">
    <use href="images/icons/icons.svg#user"></use>
</svg> -->