<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Магазин - LogIn</title>

    <link rel="stylesheet" href="css/style.min.css">
</head>

<body>

   {% include 'app/module/_header/_header.html' %}


    <main class="main">

        <section class="top">
            <div class="top-container" style="background-image: url(../images/top/top_bg.png);">
                <div class="container">
                    <h2 class="top__title">log in</h2>
                    <div class="bredcrumbs">
                        <ul class="bredcrumbs__list">
                            <li class="bredcrumbs__item">
                                <a class="bredcrumbs__link" href="index.html">
                                    Home
                                </a>
                            </li>
                            <li class="bredcrumbs__item">
                                <a class="bredcrumbs__link" href="#">
                                    Log in
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <!--/. bredcrumbs -->

            </div>
        </section>
        <!-- /. top -->
        <section class="modal">
            <div class="container">
                <div class="modal__links">
                    <a class="modal__link" href="register.html">
                        REGISTER
                    </a>
                    <a class="modal__link modal__link--active" href="login.html">
                        LOGIN
                    </a>
                </div>
                <form action="#" class="modal__form">
                    <label class="modal__label">
                        Username or email address*
                        <input class="modal__input" type="text" required placeholder="Type Username or email address">
                    </label>
                    <label class="modal__label">
                        Password*
                        <input class="modal__input" type="password" required placeholder="Input password">
                    </label>
                    <label class="modal__label">
                        <input type="checkbox">
                        Remember me
                    </label>
                    <button class="modal__btn" type="submit">LOG IN</button>
                    <a class="modal__wrong" href="#">Lost your password?</a>
                </form>
            </div>
        </section>
        <!-- /.modal -->

    </main>
    <!-- /.main -->


  {% include 'app/module/_footer/_footer.html' %}




    <script src="js/main.min.js"></script>
</body>

</html>